.sidebar {
  height: calc(100vh - (var(--navbar-height) + 40px));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  position: relative;
  background: var(--sidebar-color);
  padding: 10px;
  border-radius: 10px;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  transition: width 0.3s ease;

  &-img {
    height: 50px;
  }

  &-close {
    position: absolute;
    right: 5%;
    top: 2%;
    height: 20px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    cursor: pointer;
  }

  &-close--visible {
    opacity: 1;
    visibility: visible;
  }

  &-close__img {
    height: 100%;
    pointer-events: none;
  }


  &-collapsed {
    width: var(--sidebar-width-collapsed);
  }
}

