.app.dark {
  --bg-color: #2F4858;

  --primary-color: #28AE96;
  --secondary-color: #FBC01B;

  --font-color: white;

  --shadow: 1px 2px 8px -4px black;

  --sidebar-color: #283d49;

  --shipments-list-item-color: #283d49;

  transition: all .3s;
}