.app.normal {
  --bg-color: #E3F3F0;

  --primary-color: #28AE96;
  --secondary-color: #FBC01B;

  --font-color: #2F4858;

  --shadow: 1px 2px 6px -4px black;

  --sidebar-color: #f2f8f6;

  transition: all .3s;
}