.navbar {
  height: var(--navbar-height);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;

  &-title {
    font-size: var(--font-size-h);
  }

  &-controllers {
    display: flex;
    align-items: center;
  }

  &-button {
    margin-right: 20px;
  }

  &-input {
    margin-right: 20px;
  }

  &-switcher {
    margin: 0px 20px;
  }

  &-circle-btn {
    margin: 0px 5px;
  }
}