.navbar {
  height: var(--navbar-height);
  width: 100%;
  display: flex;
  align-items: center;


  &-content {
    min-width: 100%;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
  }

  &-title {
    font-size: var(--font-size-h);
  }

  &-controllers {
    display: flex;
    align-items: center;
  }

  &-button {
    margin-right: 20px;
  }

  &-input {
    margin-right: 20px;
  }

  &-switcher {
    margin: 0px 20px;
  }

  &-circle-btn {
    margin: 0px 5px;
  }
}