@font-face {
  font-family: 'open-sans-light';
  src: url('../fonts/OpenSans/OpenSans-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'open-sans-italic';
  src: url('../fonts/OpenSans/OpenSans-Italic.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'open-sans-regular';
  src: url('../fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'open-sans-semibold';
  src: url('../fonts/OpenSans/OpenSans-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'open-sans-bold';
  src: url('../fonts/OpenSans/OpenSans-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}