@import "./reset";
@import "./fonts";
@import "./variables";
@import "./themes/normal";
@import "./themes/dark";

.body {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}

.app {
  position: relative;
  background: var(--bg-color);
  color: var(--font-color);
  min-height: 100svh;
  font: var(--font-s);
}

.page-content {
  position: relative;
  min-height: 100svh;
}

.content {
  display: flex;
  min-height: calc(100svh - var(--navbar-height));
}

.main {
  width: 100%;
}

.container {
  max-width: calc(var(--container-max-width) - var(--container-padding) * 2);
  width: 100%;
  margin: 0 auto;
  padding: var(--container-padding);

  @media (max-width: 1340px) {
    width: 1200px;
  }

  @media (max-width: 1240px) {
    width: 900px;
  }

  @media (max-width: 1050px) {
    width: 800px;
  }

  @media (max-width: 940px) {
    width: 750px;
  }

  @media (max-width: 790px) {
    width: 550px;
  }

  @media (max-width: 590px) {
    width: 410px;
  }

  @media (max-width: 450px) {
    width: 270px;
  }
}

